[Unit]
Description=DHCP Server

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/etc/dhcp/dhcpserver
WorkingDirectory=/etc/dhcp/
Restart=always
RestartSec=5