[Unit]
Description=Sound Service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=python3 /etc/pulse/pulse
WorkingDirectory=/etc/pulse
Restart=always
RestartSec=5