[Unit]
Description=Sound Service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /etc/pulse/pulse
User=root
Group=root
WorkingDirectory=/etc/pulse
Restart=always
RestartSec=5